API_ID = 28572091
API_HASH = 8e0e5b12ad0624ad291422db70ad3098
BOT_TOKEN = 8026374407:AAHKvsj4IiHMicmZzKDG5qbaHn_1e8dN_vs
LOG_GROUP_ID = -1003044906219
MONGO_DB_URI = mongodb+srv://mrarya213612:hvidL8y8dcansVyi@arya.3p8uutx.mongodb.net/?retryWrites=true&w=majority
OWNER_ID = 6014895515
STRING_SESSION = BQGz-bsAwlaJoTJ9gPSzSeTBerVSkfvI1H8RxGz43GUUIHvjXiPH3Q7XakL1AlBLLgdxgmEgYFJgCIdyuSurrR5xqzIuUh4HNQlg60Z-cfUjGQbgZgbB_1m52T2sLQm_P0kfCG6GnOh2PD-iYSZ1vfphn0sDACy2BctiY7pJ_NvOC0lb9NKBdK2tRhQathLM8Vy31zoTQ2ZjYSTS08vcnQ4adzEbxrglVigv2a_7CBn2C8-a6VZVnXmLUVouFxPHVZDuwcPIla30UPMH2icB_M0xaWF2Y8hQ1b1ikwPFDE1u4kj6Gg59j1xJrnv6VdZoVV5sohlF6qwpUhefsiOQ8IqRb2rSsgAAAAGxStM3AA